In [2]:
import numpy as np
import pandas as pd

In [10]:
bp_data = pd.read_csv('example_bm.txt', sep='\t')

In [11]:
bp_data["value"]

0    61.0
1    61.0
2    61.0
3    61.0
4    61.0
5    61.0
6    61.0
7    75.0
Name: value, dtype: float64

In [12]:
bp_data

                               time  value       device
0  2022-02-21 14:09:30.917000+00:00   61.0  measurement
1  2022-02-22 14:09:30.917000+00:00   61.0  measurement
2  2022-02-23 14:09:30.917000+00:00   61.0  measurement
3  2022-02-24 14:09:30.917000+00:00   61.0  measurement
4  2022-02-25 14:09:30.917000+00:00   61.0  measurement
5  2022-02-26 14:09:30.917000+00:00   61.0  measurement
6  2022-02-27 14:09:30.917000+00:00   61.0  measurement
7  2022-03-05 06:49:33.986062+00:00   75.0  measurement